<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <nav class="navbar">
        <a href="../labibot.html" class="title">
            <img src="../assets/chat.png" alt="LabiBot" class="title-image">
            LabiBot
        </a>
        <button class="menu-button" onclick="toggleNavbarButtons()">  •  •  •  </button>
        <div class="navbar-buttons">
            <a href="../labibot.html" class="navbar-button">LabiBot</a>
            <a href="./features.html" class="navbar-button">Features</a>
            <a href="./contact.html" class="navbar-button">Contact</a>
        </div>
      </nav>
    <section id="about" class="about">
        <div class="container">
            <h2>About LabiBot</h2>
            <div class="about-section">
                <p>LabiBot is a leading provider of virtual assistant solutions, dedicated to enhancing productivity and efficiency for individuals and businesses worldwide. Our team consists of experienced professionals passionate about leveraging cutting-edge technology to simplify tasks and streamline workflows.</p>
                <p>But we're not just your ordinary virtual assistant service. Meet LabiBot - our charismatic virtual assistant with a southern and cool accent. LabiBot is more than just a tool; he's your reliable companion in getting things done. With his entertaining personality, LabiBot brings a touch of fun and excitement to every interaction.</p>
                <p>From scheduling appointments to managing complex projects, LabiBot can do it all. Need a joke to lighten the mood? LabiBot's got you covered. Want to hear a cool story while he completes your tasks? LabiBot is ready to entertain you.</p>
                <p>At LabiBot, we believe that productivity shouldn't be boring. That's why we've infused our virtual assistant solutions with LabiBot's unique charm and wit. Get ready to experience a whole new level of efficiency and enjoyment with LabiBot by your side.</p>
                <p>Join the countless satisfied users who have already experienced the benefits of partnering with LabiBot. Discover how our virtual assistant solutions can transform the way you work and revolutionize your productivity - all with a southern twist!</p>
                <h2>LabiBot is now collaborating with LabiYT</h2>
                <p>LabiBot is collaborating with LabiYT to provide enhanced features for YouTube recommendations. To utilize these features, simply append the "--yt" tag at the end of your commands.</p>
            </div>
        </div>
    </section>
</body>
<script>

function toggleNavbarButtons() {
    var navbarButtons = document.querySelector('.navbar-buttons');
    navbarButtons.classList.toggle('show');
  }
</script>
</html>